.menu {
  height: 100vh;
  padding: 2.9vw 20vw;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu a {
  color: white;
  font-size: 1.5vw;
  margin-left: 2vw;
  font-family: var(--font-family);

  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  cursor: pointer;
  
}

.menu-items {
  position: relative;
  z-index: 2;
}

.menu-items:hover > a {
  opacity: 0.3;
}

.menu-items:hover > a:hover {
  opacity: 1;
}

.menu-background-pattern {
  height: 100vh;
  width: 98vw;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );

  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  transition: opacity 800ms ease,
  background-size 800ms ease;
}

.menu-items:hover ~ .menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.menu .menu-background-pattern {
  position: absolute;
 
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 10%);
  background-size: 9vmin 9vmin;
  transition: background-size 0.3s ease-in-out, background-position 0.3s ease-in-out;
  pointer-events: none;
}

.menu .menu-background-pattern.pattern-0 {
  background-position: 15% 30%;
}

.menu .menu-background-pattern.pattern-1 {
  background-position: 5% 30%;
}

.menu .menu-background-pattern.pattern-2 {
  background-position: -15% 30%;
}

.menu .menu-background-pattern.pattern-3 {
  background-position: -25% 30%;
}

.navbar-mobile-menu {
  display: none;
}

.navbar-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.95rem;
  position: absolute;
  top: 18vw;
  left: 1vw;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);

  width: 90.5%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.navbar-mobile-container.visible {
  opacity: 1;
  visibility: visible;
}

/*--------------*/

.hero-bottom-container {
  margin-top: 15vw;
  display: flex;
  flex-direction: column;
}

.hero-bottom-images-container {
  z-index: 10;
  display: flex;
  justify-content: center;
}

.hero-wilson-image {
  height: 6vw;
  position: absolute;
  transition: opacity 0.15s ease-in-out;
}
.menu-items:hover ~ .hero-bottom-container .hero-wilson-image {
  opacity: 0.5;
}

.hero-triangle {
  position: absolute;
  left: 38.5vw;
  height: 4.5vw;
  transition: opacity 0.15s ease-in-out;
}
.menu-items:hover ~ .hero-bottom-container .hero-triangle {
  opacity: 0.5;
}

.hero-circle {
  position: absolute;
  left: 47.6vw;
  top: 13vw;
  height: 4vw;
  transition: opacity 0.15s ease-in-out;
}
.menu-items:hover ~ .hero-bottom-container .hero-circle {
  opacity: 0.5;
}

.hero-square {
  position: absolute;
  right: 38.5vw;
  top: 20vw;
  height: 3.7vw;
  transition: opacity 0.15s ease-in-out;
}
.menu-items:hover ~ .hero-bottom-container .hero-square {
  opacity: 0.5;
}

.hero-text-container {
  margin-top: 6vw;
}

.hero-title {
  font-family: var(--font-family);
  color: white;
  font-weight: 600;
  font-size: 3.7vw;
  margin-top: 2.5vw;
  transition: opacity 0.15s ease-in-out;
}
.menu-items:hover ~ .hero-text-container .hero-title {
  opacity: 0.5;
}

.hero-description {
  font-family: var(--font-family);
  color: #B3B3B3;
  text-align: center;
  margin-top: 1vw;
  padding: 0vw 6vw;
  font-size: 1.25vw;
}
.menu-items:hover ~ .hero-text-container .hero-description {
  opacity: 0.5;
}

/* Animation */
.menu-items {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.2s; /* Adjust delay time */
}

.hero-bottom-images-container {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.4s; /* Adjust delay time */
}

.hero-text-container {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.6s; /* Adjust delay time */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 10vw 15vw;
  }

  .navbar-mobile-menu {
    display: flex;
    padding-left: 62vw;
    margin-bottom: 45vw;
  }

  .menu-items {
    display: none;
  }

  .hero-title {
    font-size: 8.2vw;
    text-align: center;
  }

  .hero-description {
    font-size: 2.6vw;
    margin-top: 3vw;
  }

  .hero-wilson-image {
    height: 10vw;
    top: 68vw;
  }

  .hero-triangle {
    height: 9.5vw;
    top: 65vw;
    left: 28.5vw;
  }

  .hero-square {
    height: 7.5vw;
    top: 65.7vw;
    right: 30vw;
  }

  .hero-circle {
    height: 8.5vw;
    top: 49vw;
    left: 45.5vw;
  }

  .menu a {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    padding: 0 20vw;
    padding-top: 7vw;
  }
  
  .menu a {
    font-size: 3vw;
  }

  .hero-title {
    font-size: 7vw;
    text-align: center;
  }

  .hero-description {
    font-size: 2vw;
    padding: 0 4vw;
  }

  .menu-items {
    margin-bottom: 20vw;
  }

  .hero-wilson-image {
    height: 8vw;
    top: 42vw;
  }

  .hero-triangle {
    height: 7.5vw;
    top: 41vw;
    left: 30.5vw;
  }

  .hero-square {
    height: 5.5vw;
    top: 41.8vw;
    right: 32vw;
    }

  .hero-circle {
    height: 6.5vw;
    top: 29vw;
    left: 46.5vw;
  }
}