.about{
  height: auto;
  background-color: rgb(20, 20, 20);
  padding: 2vw 6vw;
  padding-top: 5vw;
  padding-bottom: 8vw;
  display: flex;
}

.about-left {
  width: 55%;
  padding-right: 5vw;
  padding-left: 6.5vw;
}

.about-title {
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 2.8vw;
  margin-bottom: 3vw;
}

.about-description {
  color: white;
  font-size: 1.15vw;
  font-family: var(--font-family);
  margin-bottom: 2vw;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.about-right {
  width: 45%;
  display: flex;
  justify-content: center;
  padding-top: 7vw;
}

.about-photo {
  height: 20vw;
  border-radius: 2vw;
  position: absolute;
  z-index: 10;
  
}

.about-photo-bg {
  height: 20.1vw;
  width: 20.2vw;
  position: relative;
  top: -2vw;
  right: -2vw;
}

.about-hi {
  position: absolute;
  height: 5vw;
  z-index: 100;
  padding-top: 19vw;
  padding-right: 12vw;
}

.about-my-skills-text {
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.5vw;
  margin-bottom: 2vw;
  margin-top: 3vw;
}

.about-function-skills-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.8vw;
}

.about-function-dot {
  height: 0.4vw;
}

.about-function-text {
  color: #B3B3B3;
  font-family: var(--font-family);
  font-size: 0.9vw;
  text-align: center;
  margin-left: 0.4vw;
}

.about-skills-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    height: auto;
    padding-bottom: 40vw;
  }

  .about-left {
    width: 85%;
  }

  .about-title {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .about-description {
    font-size: 3.2vw;
  }

  .about-my-skills-text {
    font-size: 3.8vw;
    margin-top: 7vw;
    margin-bottom: 3vw;
  }

  .about-function-text {
    font-size: 2.7vw;
    margin-left: 1vw;
  }

  .about-skills-container {
    width: 70%;
  }

  .about-function-dot {
    height: 1vw;
  }

  .about-right {
    width: 100%;
  }

  .about-photo {
    height: 45vw;
    top: 10vw;
    left: -10vw;
    border-radius: 4vw;
    position: relative;
  }

  .about-photo-bg {
    width: 48vw;
    height: 48vw;
    top: 5vw;
    left: 40vw;
  }

  .about-hi {
    height: 11vw;
    top: 34vw;
    left: -54vw;
    position: relative;
  }
}