.projects-container {
  display: flex;
  height: auto;
  padding: 2vw 12vw;
  background-color: rgb(20, 20, 20);
  justify-content: center;
  flex-direction: column;
}

.projects-mywork {
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 2.8vw;
  margin-bottom: 2vw;
}

.projects-mywork-description {
  color: #B3B3B3;
  font-family: var(--font-family);
  font-size: 1vw;
  padding-right: 30vw;
  margin-bottom: 4vw;
}

.projects-card {
  height: 27vw;
  width: 67vw;
  padding: 4vw;
  background-color: #181818;
  display: flex;
  border-radius: 2vw;
  position: relative;
  /*make the "shard" correspond to the card and not the
  whole document*/
  margin-bottom: 3vw;
}

.projects-card::after {   /* the shard */
  background: linear-gradient(
    transparent,
    mediumslateblue,
    transparent
  );
  height: 70px;
  width: 1px;
  position: absolute;
  left: 0px;
  top: 65%;
  content: "";
  opacity: 0;
  transition: top 600ms ease,
              opacity 600ms ease;
}

.projects-card:hover:after {
  top: 25%;
  opacity: 1;
}

.projects-card-left {
  width: 40%;
  padding-right: 4vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.projects-title {
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.9vw;
  margin-bottom: 2vw;
}

.projects-time {
  color: white;
  font-family: var(--font-family);
  font-size: 0.9vw;
  margin-bottom: 2vw;
}

.projects-description {
  color: #B3B3B3;
  font-family: var(--font-family);
  font-size: 1vw;
}

.projects-button {
  display: inline-block;
  padding: 0.8vw 1.6vw;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.5vw;
  color: white;
  font-family: var(--font-family);
  font-size: 1vw;
  transition: box-shadow 0.15s ease-in-out;
}

.projects-button:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}



.projects-github-logo {
  height: 1.3vw;
  display: block;
}

.projects-card-links-container {
  display: flex;
  align-items: center;
}

.projects-github-container {
  display: inline-block;
  padding: 0.75vw;
  border: 1px solid white;
  border-radius: 0.5vw;
  transition: box-shadow 0.15s ease-in-out;/**/
  margin-left: 1vw;
}

.projects-github-container:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.projects-card-right {
  width: 60%;
  background: radial-gradient(circle at 100% 80%, rgba(85, 2, 113, 1) 0%, rgba(15, 4, 28, 1) 35%);  padding: 3vw;
  border-radius: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.projects-image {
  height: 18vw;
  border-radius: 0.5vw;
}

.bakery-image-background {
  background: rgb(244, 227, 182);
}

.gauss-image-background {
  background: black;
}

@media screen and (max-width: 1024px) {
  .projects-mywork {
    font-size: 6vw;
    margin-bottom: 3vw;
  }

  .projects-card {
    flex-direction: column;
    height: 100vw;
    padding-top: 6vw;
    justify-content: space-between;
    margin-bottom: 7vw;
  }

  .projects-mywork-description {
    padding-right: 8vw;
    font-size: 2.5vw;
    margin-bottom: 5vw;
  }

  .projects-title {
    font-size: 4.3vw;
    margin-bottom: 3vw;
  }

  .projects-time {
    font-size: 2.2vw;
    margin-bottom: 3vw;
  }

  .projects-description {
    font-size: 2.8vw;
    margin-bottom: 5vw;
  }

  .projects-card-left {
    width: 99%;
    height: 50vw;
  }

  .projects-card-right{
    width: 96%;
    height: 40vw;
  }
  .projects-image {
    height: 31vw;
  }

  .projects-button {
    padding: 2vw 4vw;
    font-size: 2.3vw;
    margin-right: 1vw;
  }

  .projects-github-container {
    padding: 2vw;
  }

  .projects-github-logo {
    height: 2.7vw;
  }
}